* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    color: white;
}

.logo {
    font-size: 1.953rem;
}

header {
    padding: 15px 30px;
    background-color: #a6dfa6;
}

.search {
    background: url("/home/ryan/JavaScript/Odin/Library-Catalog/library-dark.jpg");
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.book-log {
    background: rgba(0,0,0,.7);
    padding: 40px;
    margin: 30px;

}

.book-log h3 {
    margin-bottom: 5px;
}

.book-log p {
    line-height: 1.25rem;
}


.search-box {
    background: rgba(0,0,0,.7);
    padding: 20px;
    margin: 60px 30px;
    flex: 0 1 500px;
}

.search-box > h3 {
    font-size: 1.563rem;
    margin-bottom: 7px;
}

.search-button {
    width: 80px;
    padding: 11px 0;
    vertical-align: top;
}

.display-key {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(65px, 1fr);
    background-color: lightgrey;
    margin-bottom: 50px;
    align-items: center;
    padding: 0 15px;
}

.key-container > p {
    font-size: 1.25rem;
}

.read-container, .unread-container {
    display: inline-block;
    width: 50px;
    height: 30px;
}

.read-container {
    background: linear-gradient(to right, #4c7a4c, #a6dfa6);
}

.unread-container {
    background: linear-gradient(to right, #bababa, #969696);
}

.display-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 20px;

}

.display-tile {
    background: linear-gradient(to right,  #406840, #a6dfa6);
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 7px 7px 7px -6px gray;
}

.display-tile:hover {
    background: linear-gradient(to right, #404568, #a6d9df);
    padding: 40px 30px;
    border-radius: 5px;
    height: 102%;
    width: 100.5%;
    box-shadow: 13px 13px 13px -6px gray;
    transition: all .1s ease;
}

.display-tile > h3 {
    font-size: 1.563rem;
}

.display-tile > p {
    font-size: 1.25rem;
    line-height: 30px;
}

.read-status {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    flex-flow: wrap;
}

.key-container {
    display: flex;
    gap: 10px;
    flex-flow: wrap;
    align-items: center;
}

input[type="search"] {
    width: 80%;
    height: 35px;
    font-size: 1.25rem;
    padding: 18px 15px;
}

select {
    padding: 5px;
    font-size: 1rem;
    vertical-align: top;
}