* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    color: white;
    position: relative;
    font-family: sans-serif;
}

h1 {
    font-size: 3.052rem;
    color: white;
    letter-spacing: 2px;
    margin: 0.25em 0 0.5em;
}

.logo {
    font-size: 1.953rem;
}

header {
    padding: 15px 30px;
    background-color: #40aaba;
    font-family: sans-serif;
}

.search {
    background: url("library_animated.jpg");
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 100px 0;
}

.book-log {
    background: rgba(0,0,0,.7);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 70px;
    margin: 30px;
    position: relative;
    border-radius: 10px ;

}

.book-log h4, p {
    margin-bottom: 6px;
}

.book-log h4 {
    font-size: 1.25rem;
}


.search-box {
    /*background: rgba(0,0,0,.7);*/
    padding: 20px;
    margin: 60px 30px;
    flex: 0 1 550px;
}

/*stuff*/

.search-bar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 60px;
    height: 60px;
    background: white;
    box-sizing: border-box;
    border-radius: 50px;
    border: 4px solid white;
    padding: 5px;
}

input[type="search"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 50px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.display-info i {
    top: 10px;
    left: 9px;
    color: #1bdf76;
    font-size: 1.25rem;
    /*font-weight: bold;*/
    position: absolute;
    transition-property: content;
    transition-duration: 4s;
}

.display-info:hover:before i {
    content: "Flip card for summary";
    background-color: #de2b15;
    color: white;
    font-size: 1rem;
    padding: 5px;
    width: 170px;
    position: absolute;
    top: -18px;
    left: 23px;
    text-shadow: none;
}

.display-info:hover i {
    text-shadow: 1px 1px 2px grey, #1bdf76 1px 1px 3px;
}


.collapse-info i {
    top: -31px;
    left: -22px;
    color: #fe1736;
    font-size: 1.25rem;
    /*font-weight: bold;*/
    position: absolute;
    transition-property: content;
    transition-duration: 4s;
}

.collapse-info:hover:before i {
    content: "Flip card for book info";
    background-color: #de2b15;
    color: white;
    font-size: 1rem;
    padding: 5px;
    width: 170px;
    position: absolute;
    top: -25px;
    left: 23px;
    text-shadow: none;
}

.collapse-info:hover i {
    text-shadow: 1px 1px 2px grey, #fe1736 1px 1px 3px;
    cursor: pointer;
}
.search-bar > .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #de2b15;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-bar > i:before {
    content: "\f002";
    font-size: 30px;
}

.search-bar:hover{
    width: 450px;
    cursor: pointer;

}

.search-bar:hover input{
    display: block;
    font-size: 1.953rem
}

.search-bar:hover .fa{
    background: #de2b15;
    color: white;
}

/*stuff*/


.display-key {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(65px, 1fr);
    background-color: #a0a0a0;
    margin-bottom: 50px;
    align-items: center;
    padding: 0 15px;
}

.key-container > p {
    font-size: 1.25rem;
}

.read-container, .unread-container {
    display: inline-block;
    width: 50px;
    height: 30px;
}

.read-container {
    background: linear-gradient(to right, #3a5271, #8bd8e2);
    border: solid;
    border-width: 1px;
}

.unread-container {
    background: linear-gradient(to right, #7e7e7e, #c1c1c1);
    border: solid;
    border-width: 1px;
}

.display-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 20px;

}

.display-tile {
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 7px 7px 7px -6px gray;
    position: relative;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    min-height: 350px;
}

.display-tile:hover {
    box-shadow: 15px 15px 17px 1px gray;
    transition: all .1s ease;
}



.tile-heading {
    font-size: 1.953rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 3px -3px white;
    overflow: hidden;
}

.tile-field {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.catalog-message {
    color: #000000;
    text-align: center;
}

.read-status {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    flex-flow: wrap;
}

.key-container {
    display: flex;
    gap: 10px;
    flex-flow: wrap;
    align-items: center;
}

.new-book {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    outline: transparent;
    background: linear-gradient(135deg, #ea3c29 0%, #de2b15 100%);
    color: #fff;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.new-book:hover {
    transform: rotate(90deg) scale(1.2);
    cursor: pointer;
}

.new-book:active {
    filter: opacity(80%);
}

.new-book {
    transition: transform 0.25s, opacity 0.25s;
}

.new-book span {
    font-size: 2rem;
    line-height: 1.2;
    border-radius: 50%;
}

.close-form, .remove-book {
    position: absolute;
    top: 14px;
    right: 19px;
    font-size:  1.563rem;
    line-height: 1.2;
    border-radius: 50%;
    ransition: transform 0.25s, opacity 0.25s;
}
.close-form:hover, .remove-book:hover {
    transform: rotate(90deg) scale(1.3);
    cursor: pointer;
}

.close-form:active, .remove-book:active {
    filter: opacity(80%);
}

.form-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: none;
    align-items: center;
}

.book-form h2 {
    color: #de2b15;

}

.book-form {
    color: black;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    max-width: 100vw;
    max-height: 100vh;
    display: none;
    flex-direction: column;
    font-size: 1rem;
    text-align: start;
    padding: 60px 70px;
    border: solid 1px #d3d3d3;
    border-radius: 30px;
    position: relative;
    background-color: #fff;
    /*overflow-y: scroll;*/
}

.book-form input, textarea {
    padding: 7px;
    font-size: 1.25rem;
    width: 350px;
    border-radius: 5px;

}

.book-form label {
    display: inline-block;
    text-align: right;
    width: 80px
}

.book-form > p {
    margin-bottom: 25px;
    color: black;
}

#form-key {
    color: red;
}

.book-form > h2 {
    margin-bottom: 30px;
    font-size: 1.953rem;
    padding-bottom: 15px;
    box-shadow: 0 5px 7px -6px gray;
    text-align: center;
}

label {
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    margin-right: 8px;
}

textarea {
    width: 350px;
    height: 100px;
    vertical-align: top;
    padding: 10px;
    font-size: 1rem;
}

.add-book {
    align-self: end;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.563rem;
    border: none;
    border-radius: 25px;
    background-color: #de2b15;
    color: #ffffff;
}

.add-book:hover {
    align-self: end;
    font-weight: bold;
    padding: 10px 40px;;
    font-size: 1.563rem;
    outline: solid;
    outline-color: #de2b15;
    outline-width: 2px;
    border-radius: 25px;
    background-color: white;
    color: #de2b15;
    transition: all .15s;
}

.add-book:active {
    filter: opacity(55%);
    transition: all .05s;
}

/* Radio Button */

ul {
    position: absolute;
    bottom: 15px;
    right: -20px;
}

input[type="checkbox"], input[type="date"], select, button, span {
    cursor: pointer;
}

/*input[type="textarea"]:active {}*/
/*background-color: aliceblue;*/
/*box-shadow: 3px 3px 5px #0e0e6f;*/

input[type="number"], input[type="date"], input[type="text"], textarea {
    border: none;
    outline: solid 1px;
}

/*input[type="number"]:focus, input[type="date"]:focus, input[type="text"]:focus, textarea:focus {*/
/*    !*border: solid 1px #de2b15;*!*/
/*    border: none;*/
/*    outline: solid 1px #de2b15;*/
/*    !*border-color: #de2b15;*!*/
/*    !*border: 1px*!*/
/*}*/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    background: #eee;
    transition: all 0.4s;
}

li {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/*
   Size the label, and make the on and off parts sit on top
   of one another using positioning
*/

li label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
}

li label span {
    position: absolute;
    right: 90px;
}

/*
   remove the default styling of the checkbox using appearance
   and create the outer toggle area
*/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    outline: 2px solid black;
    background: #bcbcbc;
    transition: all 0.4s;
    border: none;
}

/*
   style the ::before content to look like
   the inner toggle switch - the bit that moves
*/

input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: black;
    content: '';
    position: absolute;
    top: 4px;
    left: 11%;
    transition: all 0.4s;
}

/*
   change the outer background color and move the inner toggle switch
   when the checkbox is checked; use transitions for smooth animation
*/

input[type="checkbox"]:checked {
    background-color: #fbfbfb;
    transition: all 0.4s;
    outline: none;
}

input[type="checkbox"]:checked::before {
    left: 32%;
    transition: all 0.4s;
    background-color: #de2b15;
    outline: white;

}

/*
   cause the On and Off parts of the label to be visible when the checkbox is
   checked and unchecked, respectively
*/

input[type="checkbox"] ~ label .on, input[type="checkbox"]:checked ~ label .off {
    opacity: 0;
    color: black;
}

input[type="checkbox"] ~ label .off, input[type="checkbox"]:checked ~ label .on {
    opacity: 1;
}

.display-tile-back {
    font-size: 1.25rem;
    display: none;
}

:root {
    /*--background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);*/
    --gray: #34495e;
    --darkgray: #d9d9d9;
}

.my-select {
    /* Reset Select */
    font-size: 1rem;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: black;
    /*background-color: var(--darkgray);*/
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
    border-radius: 3px;
}

.form-select {
    position: relative;
    display: flex;
    width: 240px;
    height: 35px;
    border-radius: .25em;
    overflow: hidden;
}

/*!* Remove IE arrow *!*/
/*select::-ms-expand {*/
/*    display: none;*/
/*}*/

option {
    background-color: #ffffff;
    border-radius: 3px;
    zoom: 1.08;
    padding: 5px;
}

option:hover {
    background-color: #de2b15;
    border-radius: 3px;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 225px;
    height: 35px;
    border-radius: .25em;
    overflow: hidden;
}
/* Arrow */
.select::after, .form-select:after {
    content: '\25BC';
    color: white;
    position: absolute;
    top: -6px;
    right: 0px;
    padding: 16px 18px 16px 12px;
    background-color: #de2b15;
    transition: .25s all ease;
    pointer-events: none;
    width: 8px;
}
/* Transition */
.select:hover::after, .form-select:hover::after {
    color: #de2b15;
    background-color: var(--darkgray);
}

.inline {
    display: inline;
}

.book-form > input:focus, textarea:focus {
    background-color: aliceblue;
    box-shadow: 3px 3px 5px #0e0e6f;
}

/*input + span {*/
/*}*/

form input:invalid:required {
    outline: #e70000 solid 1px;
}

input + span {
    position: relative;
}

input:valid:required + span::after {
    font-size: 1.8rem;
    position: absolute;
    content: '✓';
    color: #00bf00;
    padding: 5px 10px;
    top: -20px;
    right: -50px;
}

input[type=tel]:invalid + span::after {
    font-size: 14px;
    position: absolute;
    content: '(ex. 555-555-5555)';
    padding: 5px 10px;
    top: -78px;
    right: -280px;
    color: #494949;
}



